* {
    margin: 0;
}

/* Banner styles */
.banner {
    display: flex;
    background-image: url(../images/banner/banner3.png);
    width: 100%;
    height: 808px;
    margin-bottom: 131px;
}

.banner-title {
    position: absolute;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;
    margin-bottom: 24px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    color: #FFFFFF;
}

.banner-description {
    position: absolute;
    width: 494px;
    height: 78px;
    left: 876px;
    top: 468px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #FFFFFF;
}

.btn-primary {
    position: absolute;
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
    border-radius: 5px;
    border: none
}

.btn-primary span {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: right;
    color: #005FAC;

}

/* Failure Section Styles */

.failure {
    display: flex;
    gap: 87px;
    position: absolute;
    width: 1072px;
    height: 723.3px;
    left: 206px;
    top: 939px;
    margin-bottom: 130px;
}

.failure-text-heading {
    width: 288px;
    height: 94px;
    left: 862px;
    top: 1178px;
    padding-top: 239px;
    padding-bottom: 24px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}

.failure-text-description {
    width: 416px;
    height: 104px;
    left: 862px;
    top: 1296px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;

}

.failure-checklist-text {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 8px;
}

.fa-check {
    color: #16D887;
}

/* Plan Section Styles */

.plan-title {
    position: absolute;
    width: 179px;
    height: 47px;
    left: 765px;
    top: 1792px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #151414;
    padding-bottom: 50px;

}

.plan-cards {
    position: absolute;
    width: 1141px;
    height: 202.96px;
    left: 230px;
    top: 1889px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 130px;
}

.card-logo {
    width: 92.96px;
    height: 92.96px;
    padding-left: 34px;
    padding-bottom: 24px;
}

.card-title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #151414;


}

.card-description {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;

}

/* Contact Banner Styles */

.contact-banner {
    position: absolute;
    width: 1140px;
    height: 300px;
    left: 230px;
    top: 2221.96px;
    background-image: url(../images/watch.png);
}

.contact-text-heading {

    position: absolute;
    width: 459px;
    height: 94px;
    left: 64px;
    top: 59px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    padding-bottom: 24px;


}

.contact-text-btn {
    position: absolute;
    width: 160px;
    height: 64px;
    left: 64px;
    top: 177px;
    border: 1px solid white;
    border-radius: 5px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #005FAC;
}

/* footer banner styles */
footer {
    position: absolute;
    width: 1600px;
    height: 577px;
    left: 0px;
    top: 2651.96px;
    background: #151414;
    display: flex;
}

footer a {
    text-decoration: none;
    width: 1600px;
    height: 577px;
}

.footer-text {
    width: 485px;
    height: 317px;
    left: 230px;
    top: 2781.96px;
    padding: 130px 230px 130px 230px;
}

.footer-text-title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #F8F8F8;
    margin-bottom: 16px;
}

.footer-text-description,
.footer-text-email,
.footer-text-contact {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.footer-text-description {
    margin-bottom: 24px;
}

.footer-text-email {
    margin-bottom: 16px;
}

.footer-text-contact {
    margin-bottom: 32px;
}

.footer-subscribe {
    width: 325px;
    height: 204px;
    left: 1046px;
    top: 2781.96px;
    padding: 130px 229px 243px;
}

.footer-subtitle {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 31px;
}

.footer-subscribe input {
    background-color: #151414;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #F3F3F3;
    border: 1px solid white;
    border-radius: 8px;
    width: 325px;
    height: 64px;
    left: 1046px;
    top: 2841.96px;
    margin-bottom: 16px;
}

.btn-subscribe {
    width: 170.11px;
    height: 64px;
    left: 1046px;
    top: 2921.96px;
    border-radius: 8px;
    background: #005FAC;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}